<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
	<head>
		<meta charset="UTF-8">
		<title>Angular To Do App</title>
		<!-- Latest compiled and minified CSS for bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	<body ng-controller="TodosController">
		<div class="container" >
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
				<div class="page-heading">
					<h1>Amazing Todo-App <small>By Cory Williams</small></h1>
					<button class="btn btn-primary" ng-click="seed()">Seed Some Items</button>
					<button class="btn btn-danger" ng-click="removeAll()">Remove All Items</button>
				</div>
				<br>
					<!-- Create your form below, try adding some angular validations -->
					<form role="form" ng-submit="addTodo()">

					<div class="input-group">
						<input type="text" class="form-control" placeholder="Add new todo" ng-model="todo">
						<span class="input-group-btn">
							<input type="submit" value="Add" class="btn btn-primary">
						</span>
					</div>
					</form>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<p ng-repeat="todo in todos" class="input-group">
						<input type="text" ng-model="todo" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-danger" ng-click="removeTodo($index)">X</button>
						</span>
					</p>
					<ul> 
					</ul>
				</div>
			</div>
		</div>

		<!-- JavaScripts -->
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
		<!-- Latest compiled and minified JavaScript for bootstrap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>